version: '3'
services:

  pg:
    image: postgres
    restart: always
    ports:
    - "5433:5432"
    volumes:
    - ./db/:/docker-entrypoint-initdb.d/
    
    environment:
    - POSTGRES_PASSWORD=example
    - POSTGRES_USER=sportsmans_user
    - POSTGRES_DB=sportmans_db
     
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  myapp:
    image: sportmans-app:1.0.4
    ports:
      - 8050:8090
#    volumes:
#      - ./src/main/resources/application-docker.properties:/configuration/application-docker.properties
    environment:
      SPRING_PROFILES_ACTIVE: docker